.anchor {
    -fx-background-image:url('https://images.unsplash.com/photo-1511236474532-77e19e1b7eee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1958&q=80');
    -fx-background-size: cover;
}
.text-field {
    -fx-background-color: #3c3c3c;
    -fx-opacity: 1.0;
    -fx-text-fill: white;
}

.button{
    -fx-background-color: #3c3c3c;
    -fx-opacity: 1.0;
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-width: 4;
    -fx-border-color: #3c3c3c;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Column header styling */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
