.anchor {
    -fx-background-image:url('https://images.unsplash.com/photo-1511236474532-77e19e1b7eee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1958&q=80');
    -fx-background-size: cover;
}
.text-field {
    -fx-background-color: #3c3c3c;
    -fx-opacity: 1.0;
    -fx-text-fill: white;
}



